In [ ]:
#Import required libraries 
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

In [ ]:
#Import data
df=pd.read_csv('CombinedData_V4.csv')

In [ ]:
#Display Data Attributes
print("-----------Shape of data--------------")
print(df.shape)
print("-----------Datatypes for each column------------")
print(df.info())

In [ ]:
#Display few rows of data 
df.head()

In [ ]:
#Remove appended string values from numeric columns

character = ["$",",","+","cars","car","/","mo","sqft","sqft lot","acre","acres","acre lot","lot"]
for char in character:
    df['price'] = df['price'].str.replace(char, '', regex=False)
    df['sqft'] = df['sqft'].str.replace(char, '', regex=False)
    df['price/sqft'] = df['price/sqft'].str.replace(char, '', regex=False)
    df['lotsize'] = df['lotsize'].str.replace(char, '', regex=False)
    df['median_listing_home_price_persqft'] = df['median_listing_home_price_persqft'].str.replace(char, '', regex=False)
    df['median_listing_home_price'] = df['median_listing_home_price'].str.replace(char, '', regex=False)
    df['median_sold_home_price'] = df['median_sold_home_price'].str.replace(char, '', regex=False)
    df['baths']=df['baths'].str.replace(char,'', regex=False)
    df['garage'] = df['garage'].str.replace(char, '', regex=False)
    df['hoa'] = df['hoa'].str.replace(char, '', regex=False)

In [ ]:
#Replace dash(-,studio) values with appropriate numeric value(0 or null)
character =["-","Studio"]
for char in character:
    df['beds']=df['beds'].str.replace(char,'0')
    df['baths']=df['baths'].str.replace(char,'0')
    df['sqft']=df['sqft'].replace(char, np.nan)
    df['lotsize']=df['lotsize'].replace(char, np.nan)
    df['price']=df['price'].replace(char, np.nan)

In [ ]:
df.head()

In [ ]:
#Drop insignificant columns from dataframe
df.drop(["time-on-realtor"], axis = 1, inplace = True)
df.drop(["median_days_on_market"], axis = 1, inplace = True)

In [ ]:
#Rename some column names to add more meaning to what it represents
df = df.rename(columns={"street-address":"street_address","beds":"bed","baths":"bath","property-type":"property_type","hoa":"hoa_monthly","price/sqft":"price_per_sqft","garage":"parking_space","median_listing_home_price":"median_home_price","median_sold_home_price":"median_selling_price","median_listing_home_price_persqft":"mhp_per_sqft"})

In [ ]:
df.shape

In [ ]:
#Detect duplicate values
duplicaterow = df[df.duplicated()]
duplicaterow.count()

In [ ]:
#Remove duplicate values
df=df.drop_duplicates()

In [ ]:
df.shape

In [ ]:
#Detect missing values
sns.heatmap(df.isnull(), cbar=False)

In [ ]:
#Drop records with missing values for signifcant columns 
df=df.dropna(subset=['street_address','city','state','zipcode','price','lotsize','sqft','property_type'])

In [ ]:
#showing number of rows after removing the missing values
df.shape

In [ ]:
#Display count of missing values in other columns
df.isna().sum()

In [ ]:
#Change datatype of numeric columns to float

df = df.astype({'price':'float','sqft':'float','lotsize':'float','bed':'float','bath':'float','hoa_monthly':'float','price_per_sqft':'float','median_home_price':'float', 'median_selling_price':'float', 'mhp_per_sqft':'float'})

In [ ]:
df.info()

In [ ]:
#Detecting the outliers
display(df.describe())

In [ ]:
#Removing outliers
def pruneOutliers(df,col):
    quartile_1 = df[col].quantile(0.25)
    quartile_3 = df[col].quantile(0.75)
    iqr = quartile_3 - quartile_1
    ul = quartile_3+1.5*iqr
    ll = quartile_1-1.5*iqr
    new_df = df[(df[col] > ll) & (df[col] < ul)]
    return new_df

In [ ]:
#Removing Outliers
df=pruneOutliers(df,'price')
df=pruneOutliers(df,'sqft')
df=pruneOutliers(df,'lotsize')
df=pruneOutliers(df,'bed')
df=pruneOutliers(df,'bath')

In [ ]:
#Box plot after removing the outliers
fig = px.box(df, x='price')
fig.show()

In [ ]:
#Box plot after removing the outliers
fig = px.box(df, x='sqft')
fig.show()

In [ ]:
#Box plot after removing the outliers
fig = px.box(df, x='lotsize')
fig.show()

In [ ]:
#Box plot after removing the outliers
fig = px.box(df, x='bed')
fig.show()

In [ ]:
#Box plot after removing the outliers
fig = px.box(df, x='bath')
fig.show()

In [ ]:
#Converting all the upper cases to lower
df['property_type'] = df['property_type'].str.lower()
df['broker'] = df['broker'].str.lower()
df['city'] = df['city'].str.lower()
df['street_address'] = df['street_address'].str.lower()
df['school_district'] = df['school_district'].str.lower()

In [ ]:
df

In [ ]:
#df to csv
#df.to_csv(r"/Users/vinaymanchundiya/Desktop/MSBA/BAN612/Project/Submit/cleaneddata.csv",index=False)